
 .buttonbody {
  background: #ffffff;
  text-align: right;
  padding-top: 0px;
}

.ghost-button {
    color: #f23452;
    background: #fff;
    border: 1px solid #f23452;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: bold;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    min-width: 120px;
}

.ghost-button:hover, .ghost-button:active {
  color:#ffffff;
  background:#f23452;
}
